body {
    background: rgb(253, 238, 220);
    text-align: center;
}

button {
    text-decoration: none;
    background-color: rgb(241, 166, 97);
    color: rgb(253, 238, 220);
    border: 1px solid rgb(253, 238, 220);
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-family: balenyserif;
    /* border-radius: 30px; */
}

button:hover {
    background-color:rgb(253, 238, 220);
    color: rgb(241, 166, 97);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

/* menu bar in top right corner of webpages */
.nav-bar {
    max-width: 1200px;
    margin: auto;
}

/* nav-bar on right side of webpage */
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    /* margin-right: 10px; */
}

/* nav-bar format for all buttons be in a line */
ul li {
    display: inline-block;
}

/* text inside nav-bar buttons */
ul li a {
    text-decoration: none;
    color: rgb(227, 139, 41);
    padding: 5px 20px;
    border: 1px solid rgb(227, 139, 41);
}

/* cool transition thingy when hovering over a nav-bar button */
ul li a:hover {
    background-color: rgb(227, 139, 41);
    color: rgb(253, 238, 220);
    transition: all 0.5s ease;
}
/* shows what page is "active" --> keeps button in nav-bar "pressed-on" */
ul li.active a {
    background-color: rgb(227, 139, 41);
    color: rgb(253, 238, 220);
}

/* ----------------------- HOMEPAGE SPECIFICALLY ----------------------- */
.homeintro {
    font-family: balenyserif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeintro h1 {
    font-family: balenyserif;
    font-style: italic;
    color: rgb(99, 10, 16);
    font-size: 70px;
}

.homeimage {
    opacity: 0.5;
    display: center; 
}

/* ----------------------- GETTING USER INPUT ----------------------- */
input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(227, 139, 41);
    background-color:rgb(253, 238, 220);
}

input[type=text]:focus {
    background-color: rgb(241, 166, 97);
}

label {
    color: rgb(99, 10, 16);
}

select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(227, 139, 41);
    background-color:rgb(253, 238, 220);
}

select:focus {
    background-color: rgb(241, 166, 97);
}

input[type=submit] {
    border: 1px solid rgb(227, 139, 41); 
    padding: 12px 20px;
    text-decoration: none;
    color: rgb(227, 139, 41);
    background-color: rgb(253, 238, 220);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color:rgb(145, 31, 39);
    color: rgb(253, 238, 220);
    transition: all 0.3s ease;
}

/* ----------------------- PAGE TITLES & OTHER TEXT ----------------------- */
/* page titles will be placed in center top of page */
.title {
    font-family: balenyserif;
    font-style: italic;
    text-align: left;
    margin-left: 20px;
}

/* all titles will be this color */
.title h1 {
    color: rgb(227, 139, 41);
    font-size: 70px;
}

/* Welcome text for each page will have center placement */
.intro {
    font-family: balenyserif;
    /* position: absolute; */
    /* top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); */
    float: center;
}

/* page titles will be this color */
.intro h1 {
    font-family: balenyserif;
    font-style: italic;
    color: rgb(145, 31, 39);
    font-size: 70px;
}

.intro h2 {
    color: rgb(99, 10, 16);
}

.searchbtn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid rgb(227, 139, 41); 
    padding: 10px 30px;
    text-decoration: none;
    color: rgb(227, 139, 41);
}

.btn:hover {
    background-color: rgb(145, 31, 39);
    color: rgb(253, 238, 220);
    transition: all 0.5s ease;
}

/* ----------------------- RECIPE CARDS ----------------------- */
/* Holds recipe cards */
.container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

.container h2 {
    color:rgb(253, 238, 220);
    font-size: 30px;
}

/* Recipe card */
.card {
    background: rgb(241, 166, 97);
    margin: 10px;
    border-radius: 20px;
    padding: 50px;
    inline-size: 400px;
    overflow-wrap: break-word;
}

.card img {
    width: 400px;
    height: auto;
    border-radius: 25px 25px 25px 25px;
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

/* ----------------------- WINE CARD ----------------------- */
.card h3 {
    padding: 10px;
    color:rgb(253, 238, 220);
}

.wine {
    font-family: balenyserif;
    font-style: italic;
    text-align: left;
    margin-left: 20px;
    color:rgb(99, 10, 16);
}

.wine h1 {
    font-size: 55px;
    padding: 10px;
}

.wine h2 {
    padding: 10px;
}